<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>cl.cosmolab.sdrserver</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/alexis/Desktop/RMD/Cosmolab/VSTCosmo/Célula_Madre/mac_sdr_server/sdr_server_94500.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
  <key>StandardOutPath</key>
  <string>/Users/alexis/Library/Logs/sdr_server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/alexis/Library/Logs/sdr_server.err.log</string>
</dict>
</plist>
